# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
classes
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

/src/main/resources/assets/qltestmod/
/src/main/kotlin/testmod/
